@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  background: #81a9e9b5;
}

.post{
  padding: 20px;
  margin: 20px;
  max-width: 800px;
  width: 100%;

  background-color: #fafafa;
  border-radius: 14px;
  box-shadow: 5px 5px #0000005e;
}

img{
  width: 50px;
  height: 50px;

  border-radius: 50%;
}

.title{
  display: flex;
  align-items: center;
}

.title > p {
  font-size: 1.3rem;
  margin: 0 0 0 5px;
}

